kill_signal = "SIGINT"
kill_timeout = 5
processes = []

[experimental]
auto_rollback = true

[[services]]
internal_port = 8080
processes = ["app"]
protocol = "tcp"

[[services.ports]]
port = 80

[[services.ports]]
handlers = ["tls"]
port = 443

[[services.tcp_checks]]
grace_period = "1s"
interval = "15s"
restart_limit = 0
timeout = "2s"

[services.concurrency]
type = "connections"
soft_limit = 500
