# fly.toml app configuration file generated for mcp-tokenizer on 2025-04-15T20:58:45-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'mcp-tokenizer'
primary_region = 'ord'
kill_signal = 'SIGINT'
kill_timeout = '5s'

[env]
  LISTEN_ADDRESS = ":8080"
  OPEN_PROXY = true

[experimental]
  auto_rollback = true

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[services]]
  protocol = 'tcp'
  internal_port = 8080
  processes = ['app']

  [[services.ports]]
    port = 80

  [[services.ports]]
    port = 443
    handlers = ['tls']

  [[services.ports]]
    port = 8080
    handlers = ['http']

  [[services.ports]]
    port = 8443
    handlers = ['tls', 'http']

  [services.concurrency]
    type = 'connections'
    soft_limit = 500

#  [[services.tcp_checks]]
#    interval = '15s'
#    timeout = '2s'
#    grace_period = '1s'

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
