# placeholder

kill_signal = "SIGINT"
kill_timeout = 5
processes = []

[experimental]
auto_rollback = true

[[services]]
internal_port = 8080
processes = ["app"]
protocol = "tcp"

# tcp passthrough
[[services.ports]]
port = 80

# tls passthrough
[[services.ports]]
handlers = ["tls"]
port = 443

# http via fly-proxy
[[services.ports]]
handlers = ["http"]
port = 8080

# https via fly-proxy
[[services.ports]]
handlers = ["tls", "http"]
port = 8443

[[services.tcp_checks]]
grace_period = "1s"
interval = "15s"
restart_limit = 0
timeout = "2s"

[services.concurrency]
type = "connections"
soft_limit = 500
