export SHARED_SECRET_DIGEST=$(echo -n trustno1 | sha256sum | cut -f1 -d ' ')
export SECRET_STORE='{"foo": {"authorizer": "secret", "processor": "inject-bearer", "secret": "bar"}}'
export CERT_PATH=127.0.0.1.nip.io.pem
export KEY_PATH=127.0.0.1.nip.io-key.pem